*.class
*.log

#ignore generated classes for demonstration - you should REMOVE THIS LINE
src/main/scala/com/twitter/finagle/example/thrift/

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
